langchain-groq
fuzzywuzzy
openai
python-dotenv
chromadb
sentence-transformers
tqdm
typing-extensions
concurrent-log-handler
torch
transformers
pypdf
gunicorn
itsdangerous
gspread
python-Levenshtein
oauth2client
psycopg2-binary
gdown
pdfminer.six
requests
aiofiles
fastapi
uvicorn
pandas
langchain==0.2.6
langchain-core==0.2.12
langchain-community==0.2.4
langchain-chroma==0.1.4
langchain-google-genai==1.0.5
google-generativeai==0.5.4
pydantic==2.6.4

